#baja-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f4f6f8; /* Color de fondo claro */
  }
  
  #baja-header {
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    color: #1d3172; /* Azul fuerte para el encabezado */
  }
  #baja-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Espacio debajo de la barra de búsqueda */
    border: 1px solid #ddd; /* Borde claro para el input */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 1rem; /* Tamaño de fuente para el input */
  }
  
  
  #baja-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px; /* Espacio debajo de la tabla */
  }
  
  #baja-table th, #baja-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Borde claro para las filas de la tabla */
  }
  
  #baja-table th {
    background-color: #238dbf;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  #baja-table td {
    background-color: #ffffff;
    color: #333;
  }
  
  #baja-table tr:nth-child(even) td {
    background-color: #f0f4f8; /* Color de fondo para filas alternadas */
  }
  
  #baja-table tr:hover td {
    background-color: #e0f7fa; /* Efecto hover para las filas */
  }
  
  #baja-table td button {
    background-color: #C14A88;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  #baja-table td button:hover {
    background-color: #d43f3f; /* Rojo más oscuro al pasar el cursor */
  }
  
  /* Para pantallas pequeñas */
  @media (max-width: 768px) {
    #baja-header {
      font-size: 2rem;
    }
  
    #baja-table th, #baja-table td {
      padding: 10px;
    }
  
    #baja-table td button {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  }